body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.product-item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.2s;
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-heading {
    border: 3px solid black; /* Custom border color and width */
    padding: 20px;
    border-radius: 15px;
}





/* Default style for desktop */

/* Media query for mobile devices */
@media (max-width: 768px) {
    .construction{
        width: 90%;
    }
}